@page
@model BookStore.Pages.Buyers.DeleteModel
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">

        <div class="card border-danger shadow-sm mt-4">
            <div class="card-header bg-danger text-white">
                <h5 class="mb-0">Подтвердите удаление </h5>
            </div>

            <div class="card-body">
                <p class="mb-3">
                    Вы действительно хотите удалить покупателя:
                </p>

                <div class="alert alert-light border">
                    <strong>@Model.Buyer.LastName</strong><br />
                    <small class="text-muted">@Model.Buyer.Email</small>
                </div>

                <form method="post">
                    <input type="hidden" asp-for="Buyer.Id" />

                    <div class="d-flex justify-content-between">
                        <a asp-page="Index" class="btn btn-outline-primary">
                            Отмена
                        </a>

                        <button type="submit" class="btn btn-danger">
                            Удалить
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>