@page
@model BookStore.Pages.Books.CreateModel
@{
}
<h1>Добавить книгу</h1>

<form method="post">
    <div>
        <label>Название</label><br />
        <input asp-for="Book.Title" />
        <span asp-validation-for="Book.Title"></span>
    </div>

    <div>
        <label>Автор</label><br />
        <input asp-for="Book.Author" />
    </div>

    <div>
        <label>Год</label><br />
        <input asp-for="Book.Price" type="number" />
    </div>

    <div>
        <label>Количество</label><br />
        <input asp-for="Book.Quantity" type="number" />
    </div>

    <button type="submit">Сохранить</button>
</form>

<a asp-page="Index">Назад</a>
