@page
@model BookStore.Pages.Books.DetailsModel
@{
}
<h1>Информация о книге</h1>

<div>
    <p><strong>Название:</strong> @Model.Book.Title</p>
    <p><strong>Автор:</strong> @Model.Book.Author</p>
    <p><strong>Цена:</strong> @Model.Book.Price</p>
    <p><strong>Количество:</strong> @Model.Book.Quantity</p>
</div>

<p>
    <a asp-page="Index">Назад к списку</a>
</p>
